<!doctype html>
<html lang="en">

<head>
    <title>Papyri Finder</title>
</head>

<body>
    <h2>Explore the World of Papyri of Dura-Europos!</h2>

    <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/map">Map</a></li>
                <li class="nav-item"><a class="nav-link" href="/timeline">Timeline</a></li>
            </ul>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/papyri.js"></script>

</html>