<!doctype html>
<html lang="en">

<head>
    <title>Papyri Finder</title>


</head>

<body>
    <h3>Map</h3>

    <img id="image" src="../static/dura.jpg" alt="DuraMap" width="35%" height="35%">
    <br>

    <button id="mapReturn" type="button" onclick="history.back()">Return to Home</button>


</body>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/papyri.js"></script>

</html>