<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Papyri Finder</title>

    <link rel="stylesheet" href="../static/timeline.css" />
    <link rel="stylesheet" href="../static/styles.css" />
  </head>

  <body>
    <div class="titlebar">
      <h2>Timeline</h2>
      <!-- </center> -->
    </div>

    <div class="date_form">
      <h4>Enter start year and end year to display papyri of those years!</h4>
      <p>
        note: negative numbers connotate BCE (i.e. 50 BCE should be represented
        as -50)
      </p>

      <table>
        <tr>
          <td>
            <label for="start">Start year:</label>
          </td>
          <td class="enter_year">
            <input
              type="number"
              id="start"
              min="-500"
              max="500"
              step="1"
              value="0"
            />
          </td>
        </tr>

        <tr>
          <td>
            <label for="end">End year:</label>
          </td>
          <td class="enter_year">
            <input
              type="number"
              id="end"
              min="-500"
              max="500"
              step="1"
              value="0"
            />
          </td>
        </tr>
      </table>
      <br /><br />

      <button
        type="button"
        class="btn btn-info btn-lg dates_button"
        id="timelineDisplay"
        onclick="showTimeline()"
      >
        Show Timeline!
      </button>
    </div>

    <br /><br /><br />

    <!-- <span id="timelineLeft"></span> 
    <span id="timelineRight"></span> -->

    <div class="timeline">
      <div id="contentLeft"></div>
      <!-- <div class="container left">
        <div id="contentLeft"></span> 
        <div class="content">
          <h2>300 BCE</h2>
          <p>Content here...</p>
        </div> -->
      <!-- </div> -->
      <div id="contentRight"></div>
      <!-- <div class="container right">
        <div id="contentRight"></span> 
        <div class="content">
          <h2>250 CE</h2>
          <p>More content...</p>
        </div> -->
      <!-- </div> -->
    </div>

    <center>
      <button
        id="timelineReturn"
        class="home_button"
        type="button"
        onclick="history.back()"
      >
        &larr; &nbsp Return to Home
      </button>
    </center>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.6.0.slim.js"
    integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
    crossorigin="anonymous"
  ></script>
  <script type="text/javascript" src="../static/timeline.js"></script>
</html>
