/* CLASSES FOR HOME PAGE */

.titlebar {
  display: inline-block;
  background-color: #363537;
  width: 100%;
  padding: 0px;
  margin: 0px;
  color: white;
  box-shadow: 5px;
  text-align: center;
}

.tools_box {
  display: flex;
  margin:0px;
  text-align:center;
  display: inline-block;
  width: 100%;

}

.half_screen {
  flex: 1;
  width: 49%;
  vertical-align: top;
  display: inline-block;
  margin: 0px;
  text-align: center;
}

.introduction {
  display: inline-block;
  width: calc(100% - 40px);
  padding:30px;
  border-radius: 10px;
  margin:20px;
  margin-bottom: 50px;
  background-color: white;
}

.upload_button {
  background-color: #3B60E4;
  color: white;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  margin: 20px;
  border-radius:3px;
  border-width:0px;
}

.file_uploader {
  cursor: pointer;
  width: 200px;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: inline-block;
  border-width: 1px;
  border-style: dashed;
  border-color: #a1a1a1;
  background-color: white;
  color: #a1a1a1;
  border-radius: 3px;
}

.tool_button {

  cursor: pointer;
  width: 200px;
  padding: 30px;
  display: inline-block;
  border-width: 0px;
  border-style: solid;
  border-color: #a1a1a1;
  background-color: #EEC170;
  color: white;

  font-weight: bold;
  border-radius: 3px;
  margin: 20px;
  text-decoration: none;

}

input[type="file"] {
    display: none;
}

/* CLASSES FOR TIMELINE */

.date_form {
  display: inline-block;
  width: calc(100% - 40px);
  padding:30px;
  border-radius: 10px;
  margin:20px;
  margin-bottom: 50px;
  background-color: white;
}

.dates_button {
  background-color: #3B60E4;
  color: white;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  margin: 20px;
  border-radius:3px;
  border-width:0px;
}

.enter_year {
  padding-left: 30px;
}

.home_button {
  background-color: #3B60E4;
  color: white;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  margin: 20px;
  border-radius:3px;
  border-width:0px;
  margin-top: 50px;

}
